# This project uses the new web service system, which does not use .htaccess.
# Please see ../.lighttpd.conf for the actual redirect definition.

# Rewrite: redirect/... to redirect.php
RewriteEngine on
RewriteRule ^(.*)/redirect/.*$ $1/redirect.php
